:root {
  --primary: #4caf50; 
  --secondary: #8bc34a; 
  --accentOne: #ff5722; 
  --accentTwo: #f44336; 
  --background: #dce775; 
  --zombiePurple: #9c27b0; 
  --sunYellow: #ffeb3b;
}

.darkMode {
  --primary: #388e3c;
  --secondary: #689f38;
  --accentOne: #e64a19;
  --accentTwo: #c62828;
  --background: #afb42b;
  --zombiePurple: #7b1fa2;
  --sunYellow: #fbc02d;
}




body {
  background-color: var(--background);
  color: rgb(251, 251, 251);
  box-sizing: border-box;
  align-items: center;
}

html * {
  font-size: 1.2rem;
  justify-content: center;
}
.heading {
  background-color: var(--primary);
  border-color: var(--secondary);
  border-radius: 2em;
  height: 24vh;
  width: 91%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto 2em auto;
  padding: 2%;
  min-width: 20em;
}
.boxes {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}
.box {
  border-radius: 2em;
  background-color: var(--primary);
  border-color: var(--secondary);
  margin: 20em auto;
  width: 28%;
  height: 60vh;
  padding: 1%;
  min-width: 15em;
  text-align: center;
}
.box img {
  height:40%;
  object-fit: cover;
}
