

body {
  background-color: var(--background);
  color: rgb(251, 251, 251);
  box-sizing: border-box;
  align-items: center;
  gap: 4em
}

html * {
  font-size: 1.2rem;
  justify-content: center;
}
.heading {
  background-color: var(--primary);
  border-color: var(--secondary);
  border-radius: 2em;
  height: 24vh;
  width: 91%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto 2em auto;
  padding: 2%;
  min-width: 20em;
}
.boxes {
  display: flex;
  flex-direction: row;
  margin: 0, auto;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}
.box {
  border-radius: 2em;
  background-color: var(--primary);
  border-color: var(--secondary);
  margin: 1em auto;
  width: 43%;
  height: 24em;
  padding: 1%;
  min-width: 15em;
  transition-duration: 0.7s;
  text-align: center;
}
.content {
  display: flex;
  align-items: flex-start;
  gap: 16px; 
}

.content img {
  height: 15em; 
}

.box:hover {
  transform: scale(1.1);
}